.Layout {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto; /* Auto-sizing header */
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 1rem;
}

header {
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 0; /* Remove extra padding */
}

footer {
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
}